<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.zhujohnle.androidreplay">

    <dist:module dist:instant="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ipc.binder.client.ClientActivity" android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ipc.aidl.client.ClientActivity" android:screenOrientation="portrait">
        </activity>

        <!--使用binder测试ipc-->
        <service
            android:name=".ipc.binder.service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":binderRemote">

            <intent-filter>
                <action android:name="com.zhujohnle.androidreplay.ipc.binder" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </service>


        <!--使用aidl测试ipc-->
        <service android:name=".ipc.aidl.server.BookManagerService">
            <intent-filter>
                <action android:name="com.zhujohnle.androidreplay.ipc.aidl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>